In [1]:
import pandas as pd

water_streams0 = pd.read_excel("streams0.xlsx", sheet_name="water", index_col=0)
gas_streams = pd.read_excel("streams.xlsx", sheet_name="gas", index_col=0)
water_streams = pd.read_excel("streams.xlsx", sheet_name="water", index_col=0)
heaters = pd.read_excel("blocks.xlsx", sheet_name="heaters", index_col=0)
electric = pd.read_excel("blocks.xlsx", sheet_name="electric", index_col=0)
accumulation = pd.read_excel("blocks.xlsx", sheet_name="accumulation", index_col=0)


#####################Максимов#####################
PKM_zaryad = False
syngas_streams = pd.read_excel("streams.xlsx", sheet_name="syngas", index_col=0)
##################################################


# #####################Максимов#####################
# from PKM import PKM_all
# PKM = PKM_all.calc(PKM_zaryad, gas_streams,syngas_streams,water_streams,water_streams0,heaters)
# steamVD_to_turbine = PKM['steamVD_to_turbine']
# ##################################################

In [2]:


# syngas_streams.loc['SGaccum-COMB','T':'CO'] = syngas_streams.loc['HTS-SGaccum','T':'CO']

# from PKM import syngas_GTU
# syngas_GTU.calc(syngas_streams, 1.2,0.88,0.9,heaters,electric)

In [3]:
from PKM import accum
accum.razryad(3600,accumulation,PKM_zaryad,gas_streams,syngas_streams,water_streams,water_streams0,heaters,electric)


heaters

                       Qw  Qg  KPD
PEVD                  NaN NaN  NaN
IVD                   NaN NaN  NaN
EVD                   NaN NaN  NaN
PPND                  NaN NaN  NaN
IND                   NaN NaN  NaN
GPK                   NaN NaN  NaN
SP2                   NaN NaN  NaN
SP1                   NaN NaN  NaN
OD                    NaN NaN  NaN
Strans           0.000000 NaN  NaN
Strans_cool      0.000000 NaN  NaN
Reformer         0.000000 NaN  NaN
Ref_cooler       0.000000 NaN  NaN
Ref_HTS          0.000000 NaN  NaN
Ref_all          0.000000 NaN  NaN
SGgtu_Qsw    85401.594662 NaN  NaN

In [4]:
electric

            Ni              N  KPDm  KPD
PEN        NaN            NaN   NaN  NaN
CVD        NaN            NaN   NaN  NaN
CND        NaN            NaN   NaN  NaN
GTU        NaN            NaN   NaN  NaN
DK         NaN            NaN   NaN  NaN
Turbine    NaN            NaN   NaN  NaN
Tots1      NaN            NaN   NaN  NaN
Tots2      NaN            NaN   NaN  NaN
Tots3      NaN            NaN   NaN  NaN
Tots4      NaN            NaN   NaN  NaN
KN         NaN            NaN   NaN  NaN
SGgtu_comp NaN   97912.078343   NaN  NaN
SGgtu_turb NaN  156015.318200   NaN  NaN

In [5]:
syngas_streams

,T,P,H,G,N2,O2,CO2,Ar,H2O,CH4,H2,CO
REF-COOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COOL-HTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HTS-SGaccum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SGaccum-COMB,250.000000,2.0,2484.253795,17.938728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AIR-COMP,15.000000,0.1,293.187169,292.336171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMP-COMB,343.355789,1.2,631.500040,292.336171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMB-TURB,750.000000,1.2,1293.647817,310.274899,0.709036,0.160575,0.02425,0.0,0.106138,0.0,0.0,0.0
TURB-COOL,321.155960,0.1,785.739407,310.274899,0.709036,0.160575,0.02425,0.0,0.106138,0.0,0.0,0.0
COOL-EX,70.000000,0.1,510.494471,310.274899,0.709036,0.160575,0.02425,0.0,0.106138,0.0,0.0,0.0